body {
  margin: 0;
  padding: 0;
  background-color: #B8b8b8;
}

header {
  max-width: 700px;
  width: 100%;
  text-align: left;
  margin-top: 0px;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%
}

.container {
  margin-top: 60px;
  max-width: 900px;
  width: 100%;
  text-align: center;
  background-color: #e8e8e8;
}

iframe {
  width: 600px;
  height: 400px;
}

.cartoons {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.undraw {
  flex-grow: 1;
  height: 200px;
}

.card {
  background-color: white;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  max-width: 700px;
}

.card2{
  background-color: white;
  padding: 20px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 20px;
  text-align: center;
}

.card ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 10px;
  display: inline-flex;
}

.card li {
  margin: 10px;
}

.card h2 {
  margin: 0px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
 .container {
  width: 500px;
}
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
